<div class="toolbar" role="banner">
    <a routerLink="/" style="color:#fff;"> <img width="40" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
        />
        <!-- <span>Xcart</span> -->
    </a>

    <a routerLink="/" style="color:#fff;">
        <span>Shop</span>
    </a>

    <div class="spacer"></div>
    <div class="col-md-6">
        <app-search></app-search>
    </div>
    <div class="col-md-4">


        <div>

            <ul class="userIcon">
                <li>
                    <a routerLink="/cart" style="color:#fff; font-size:25px; ">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span class="cart-count" *ngIf="cartItem > 0">{{cartItem}}</span>
                    </a>
                </li>
                <li><a routerLink="/login" *ngIf="!isLogin">Log in </a></li>
                <li><a href="javascript:void(0)" *ngIf="isLogin">{{jwt_decoded?.name}}</a></li>
                <li><a href="javascript:void(0)" (click)="logOut()" *ngIf="isLogin">Logout</a></li>
            </ul>


        </div>
    </div>



</div>