<div class="container-fluid contents">
    <table id="cart" class="table table-hover table-condensed" style="margin-top:5%;">
        <thead>
            <tr>
                <th style="width:50%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products">
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs"><img src={{item.pic_1}} class="img-responsive" width="180" height="180" /></div>
                        <div class="col-sm-8">
                            <h4 class="nomargin">{{item.product_name}}</h4>
                            <p>{{item.description}}</p>
                        </div>
                    </div>
                </td>
                <td data-th="Price">{{item.offer_price | currency}}</td>
                <td data-th="Quantity">
                    <input type="number" class="form-control text-center" value="1">
                </td>
                <td data-th="Subtotal" class="text-center">{{item.offer_price | currency}}</td>
                <td class="actions" data-th="">
                    <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="visible-xs">
                <!-- <td class="text-center"><strong>Total 1.99</strong></td> -->
            </tr>
            <tr>
                <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                <td colspan="2" class="hidden-xs"></td>
                <!-- <td class="hidden-xs text-center"><strong>{{addTotal(products)}}</strong></td> -->
                <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
        </tfoot>
    </table>
</div>