<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 offset-md-3 contents">
            <div class="card" style="margin-top:20%; padding:10%;">
                <div *ngIf="apiMessage" style="text-align:center;">
                    <div [innerHTML]="apiMessage"></div>
                </div>
                <form [formGroup]="registerForm">
                    <div class="form-group">
                        <label>Name*</label>
                        <input type="text" formControlName="name" class="form-control" placeholder="Enter Name" />
                        <span class="text-danger" *ngIf="(registerFormControl.name.touched || submitted) && registerFormControl.name.errors?.required">
                                Name is required
                            </span>
                    </div>
                    <div class="form-group">
                        <label>Email*</label>
                        <input type="email" formControlName="email" class="form-control" placeholder="Enter Email" />
                        <span class="text-danger" *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
                                Email is required
                            </span>
                        <span class="text-danger" *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.invalidEmail">
                            Enter a valid email address
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Contact No.*</label>
                        <input type="text" formControlName="contactNo" class="form-control" placeholder="contact no.">
                        <span class="text-danger" *ngIf="(registerFormControl.contactNo.touched || submitted) && registerFormControl.contactNo.errors?.required">
                                Contact Number is required
                            </span>
                        <span class="text-danger" *ngIf="registerFormControl.contactNo.touched && registerFormControl.contactNo.errors?.invalidPhone">
                               Not a valid phone number
                            </span>
                    </div>

                    <div class="form-group">
                        <label>Password*</label>
                        <input type="password" formControlName="password" class="form-control" placeholder="Password">
                        <span class="text-danger" *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
                                Password is required
                            </span>
                        <span class="text-danger" *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.invalidPassword">
                            Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                            letter and 1 number
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password*</label>
                        <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password">
                        <span class="text-danger" *ngIf="(registerFormControl.confirmPassword.touched || submitted)&& registerFormControl.confirmPassword.errors?.required">
                        Confirm Password is required
                    </span>
                        <span class="text-danger" *ngIf="registerFormControl.confirmPassword.touched && registerFormControl.confirmPassword.errors?.passwordMismatch">
                        Passwords doesnot match
                    </span>

                    </div>

                    <div class="d-flex">
                        <button type="submit" (click)="submitForm()" class="btn btn-primary w-100" [disabled]="isLoading"><span *ngIf="!isLoading">Register</span>
                            <span *ngIf="isLoading">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </span>
                            
                        </button>
                        <button type="button" class="btn btn-danger w-100">Cancel</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>